*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font: 16px/1.3 system-ui, sans-serif;
}

.container {
  max-width: 1320px;
  margin: auto;
  padding: 0 1rem;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}
h2 {
  font-size: 2rem;
  margin: 1rem 0;
}
h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
h4 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}
